/*Début du général*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
/*Fin du général*/
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;    
    padding: 8% 18% 6% 0; 
}
.logo i{
    font-size: 25px;
}
.logo img{
    width: 50%;
}
.baner {
    z-index: 1;
    height: 200px;
}
.box_menu {
    position: relative;
    z-index: 2;
    background-color:#f2f2f2;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding: 5% 0 3% 6%;
}
    .box_menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
    }
.title_menu{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.title_menu h1{
    font-family: 'shrikhand',cursive;
    font-size: 25px;
    font-weight: 300;
}
.title_menu i{
    font-size: 25px;
    margin-left: 5%;
    margin-right: 10px;
}
.title_menu:hover .far{
    font-weight: 900;
    color: #9356dc;
}
.box_menu h2{
    font-size: 16px;
    font-weight: 400;
    border-bottom: #99e2d0 solid;
    width: 10%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.box_menu li{
    display: flex;
    border-radius: 20px;
    background: white;
    width: 95%;
    padding: 15px;
    margin-bottom: 3%;
    box-shadow:  0px 0px 10px -3px rgba(0,0,0,0.32);
}
.box_menu li{
    flex-direction: column;
    justify-content: space-between;
}
.box_menu h3{
    margin-bottom: 1%;
}
.box_menu h4{
    font-size: 15px;
    font-weight: 300;
}
.box_menu h5{
    margin-right: 2%;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.box_anim {
    width: 85px;
    display: flex;
    background-color: #99e2d0;
    padding: 8%;
}
.box_anim i{
    font-size: 25px;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #99e2d0;
    background: white;
    border-radius: 100%;
}
.box_anim :hover{
    transform: scale(1.15);
   
}
.order{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 5%;
}
.order span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 2%;
    color: white;
    font-size: 20px;
    font-weight: 500;    
    padding: 3%;
    border-radius: 50px;
    background: #FF79DA;
    background: -moz-linear-gradient(-45deg, #FF79DA 0%, #9356DC 100%);
    background: -webkit-linear-gradient(-45deg, #FF79DA 0%, #9356DC 100%);
    background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
    -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.32); 
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.32);
}
/*Début footer*/
footer{
    background-color: #161616;
}
footer h1{
    font-family: 'shrikhand', cursive;
    color: #f3f3f3;
    font-size: 23px;
    font-weight: 100;
    padding: 15px 0 3% 30px;
}
footer ul{
    font-size: 18px;
    color: white;
    padding: 0 0 8% 30px;
    list-style-type: none;
}
footer li{
    padding-bottom: 10px ;
}
footer i{
    margin-right: 10px ;
}

